<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error 404 - page does not exist</title>
</head>
<body style="background-color:powderblue;">
<style>

html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: blue;
    margin: 0;
}

#main{
    display: table;
    width: 100%;
    height: 50vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}
</style>
<h1 style="color:red;" style="font-size: 33px;"><img title="School Logo" alt="School Logo" src="https://p13cdn4static.sharpschool.com/UserFiles/Servers/Server_273230/Image/web-logo.png" width = "70" height= "70">North Warren Club Database<div id="motto"></div></h1>
<div id="main">
    	<div class="fof">
        <h1>Error 404</h1>
		<h6><img class="pic" src="https://image.flaticon.com/icons/png/512/15/15135.png" style="width:100px; height:100px;"></h6>
        <h3>The page "{{url}}" does not exist</h3>
        <h4>Click <a href="login">here</a> to login</h4>
    	</div>
</div>
</body>
</html>