<!DOCTYPE html>
<html>
	<head>
		<title>Test Form</title>
	</head>
	<body>
		<form name='testform' method='POST' onsubmit='test.py'>
			<br>
			Activity <input type='textbox' name='activity'><br><br>
			Club: <br>
			<input type ='radio' value ='Interact' name = 'club'>Interact <br>
			<input type ='radio' value ='LEO_Club' name = 'club'>LEO Club <br>
			<input type ='radio' value ='Friends_of_Rachel' name = 'club'>Friends of Rachel <br>
			<input type ='radio' value ='National_Honor_Society' name = 'club'>National Honor Society <br>
			<input type ='radio' value ='Spanish_Honor_Society' name = 'club'>Spanish Honor Society <br>
			<input type ='radio' value ='Math_Honor_Society' name = 'club'>Math Honor Society <br>
			<input type ='radio' value ='History_Honor_Society' name = 'club'>History Honor Society <br>
			<input type ='radio' value ='Student_Council' name = 'club'>Student Council <br>
			<input type ='radio' value ='Tri-M' name = 'club'>Tri-M
			<br><br>
			Hours: <input type='textbox' name='hours'><br><br>
			Approved: <br><input type='radio' value=1 name='approved'>yes 
			<br><input type="radio" value=0 name="approved">no 
			<br>
			<br>
			<input type='submit' name='submit' value='Submit'>
		</form>
	</body>	
</html>
