<!DOCTYPE html>
<html>
	<head>
		<title>Test Form</title>
	</head>
	<body>
		<form name='testform' method='POST' onsubmit='test.py'>
			<br>
			Activity <input type='textbox' name='activity'><br><br>
			Club: <input type='textbox' name='club'><br><br>
			Hours: <input type='textbox' name='hours'><br><br>
			Approved: <br><input type='radio' value=1 name='approved'>yes 
			<br><input type="radio" value=0 name="approved">no 
			<br>
			<br>
			<input type='submit' name='submit' value='Submit'>
		</form>
	</body>	
</html>
