<!DOCTYPE html>
<html>
	<head>
		<title>Test Form</title>
	</head>
	<body>
		<form name='testform' method='POST' onsubmit='test.py'>
			Username: <input type='textbox' name='username'><br><br>
			Password: <input type='textbox' name='password'><br><br>
			Admin Level: <br><input type='radio' value=0 name='adminLevel'>0 
			<br><input type="radio" value=1 name="adminLevel">1 
			<br><input type="radio" value=2 name="adminLevel">2<br><br>
			Clubs Memberships:<br>
			<input type="checkbox" name="memberships" value="Interact">Interact</br>
			<input type="checkbox" name="memberships" value="LEO_Club">LEO Club</br>
			<input type="checkbox" name="memberships" value="Friends_of_Rachel">Friends of Rachel</br>
			<input type="checkbox" name="memberships" value="National_Honor_Society">National Honor Society</br>
			<input type="checkbox" name="memberships" value="Spanish_Honor_Society">Spanish Honor Society</br>
			<input type="checkbox" name="memberships" value="Math_Honor_Society">Math Honor Society</br>
			<input type="checkbox" name="memberships" value="History_Honor_Society">History Honor Society</br>
			<input type="checkbox" name="memberships" value="Student_Council">Student Council</br>
			<input type="checkbox" name="memberships" value="Tri-M">Tri-M</br>
			<br> Clubs Advisories:<br>
			<input type="checkbox" name="advisories" value="Interact">Interact</br>
			<input type="checkbox" name="advisories" value="LEO_Club">LEO Club</br>
			<input type="checkbox" name="advisories" value="Friends_of_Rachel">Friends of Rachel</br>
			<input type="checkbox" name="advisories" value="National_Honor_Society">National Honor Society</br>
			<input type="checkbox" name="advisories" value="Spanish_Honor_Society">Spanish Honor Society</br>
			<input type="checkbox" name="advisories" value="Math_Honor_Society">Math Honor Society</br>
			<input type="checkbox" name="advisories" value="History_Honor_Society">History Honor Society</br>
			<input type="checkbox" name="advisories" value="Student_Council">Student Council</br>
			<input type="checkbox" name="advisories" value="Tri-M">Tri-M</br>
			<input type='submit' name='submit' value='Submit'>
		</form>
	</body>	
</html>
			
