<!DOCTYPE html>
<html>
	<head>
		<title>User List</title>
		<style>
			.center{
				text-align:center;
			}
			td{
				padding:5px;
			}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<td class='center'>Username<hr></td>
				<td class='center'>Password (Hashed)<hr></td>
				<td class='center'>AdminLevel<hr></td>
			</tr>
			<tr>
				<td>{%for name in names%}{{name}}<br><hr>{%endfor%}</td>
				<td>{%for pass in passwords%}{{pass}}<br><hr>{%endfor%}</td>
				<td>{%for level in levels%}{{level}}<br><hr>{%endfor%}</td>
			</tr>
		</table>
	</body>
</html>
